.login-form {
  max-width: 90%;
  margin: 0 auto;
  padding: 15px;
}

.register-form {
  max-width: 90%;
  margin: 0 auto;
  padding: 15px;
}

@media (max-width: 600px) {
  .login-form,
  .register-form {
    padding: 10px;
  }
}