# Configuración de base de datos
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=business_control
DB_PORT=3306

# Configuración JWT
JWT_SECRET=secreto_super_seguro

# Configuración servidor
NODE_ENV=development
PORT=3000

# Configuración email (opcional)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu-email@gmail.com
EMAIL_PASS=tu-contraseña-app
